In [83]:
import pandas as pd

In [85]:
url="https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data"
names=['sepal-length','sepal-width','petal-length','petal-width','class']
irisdata=pd.read_csv(url,names=names)
irisdata.head()

   sepal-length  sepal-width  petal-length  petal-width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [70]:
irisdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
sepal-length    150 non-null float64
sepal-width     150 non-null float64
petal-length    150 non-null float64
petal-width     150 non-null float64
class           150 non-null object
dtypes: float64(4), object(1)
memory usage: 5.9+ KB

In [71]:
x=irisdata.iloc[:,0:4]

In [72]:
y=irisdata.select_dtypes(include=[object])
y.head()

         class
0  Iris-setosa
1  Iris-setosa
2  Iris-setosa
3  Iris-setosa
4  Iris-setosa

In [73]:
y["class"].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [74]:
from sklearn import preprocessing
le=preprocessing.LabelEncoder()
y=y.apply(le.fit_transform)

In [75]:
from sklearn.model_selection import train_test_split
print(x.shape,y.shape)
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,stratify=y)
print("Dimension of x-train :",x_train.shape,"x-test :",x_test.shape)
print(y_test.head())

(150, 4) (150, 1)
Dimension of x-train : (105, 4) x-test : (45, 4)
     class
29       0
32       0
95       1
147      2
65       1

In [79]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
scaler.fit(x_train)
x_train=scaler.transform(x_train)
x_test=scaler.transform(x_test)

In [80]:
from sklearn.neural_network import MLPClassifier
mlp=MLPClassifier(hidden_layer_sizes=(10,10,10),max_iter=2000)
mlp.fit(x_train,y_train.values.ravel())

MLPClassifier(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(10, 10, 10), learning_rate='constant',
       learning_rate_init=0.001, max_iter=2000, momentum=0.9,
       nesterovs_momentum=True, power_t=0.5, random_state=None,
       shuffle=True, solver='adam', tol=0.0001, validation_fraction=0.1,
       verbose=False, warm_start=False)

In [81]:
predictions=mlp.predict(x_test)

In [82]:
from sklearn.metrics import classification_report,confusion_matrix
print(confusion_matrix(y_test,predictions))
print(classification_report(y_test,predictions))

print(y_train['class'].value_counts())

[[15  0  0]
 [ 0 14  1]
 [ 0  0 15]]
             precision    recall  f1-score   support

          0       1.00      1.00      1.00        15
          1       1.00      0.93      0.97        15
          2       0.94      1.00      0.97        15

avg / total       0.98      0.98      0.98        45

2    35
1    35
0    35
Name: class, dtype: int64