Generate a 5*4 array

In [1]:
import numpy as np
import pandas as pd

In [39]:
np.random.seed(42)
random_array=np.random.randint(0,100,(5,4))

In [40]:
df=pd.DataFrame(random_array,columns=['A','B','C','D'],index=['V','W','X','Y','Z'])
print(df)

    A   B   C   D
V  51  92  14  71
W  60  20  82  86
X  74  74  87  99
Y  23   2  21  52
Z   1  87  29  37

Selecting specific rows

In [10]:
print(df.loc['W':'Y'])

    A   B   C   D
W  60  20  82  86
X  74  74  87  99
Y  23   2  21  52

Using integer based indexing

In [19]:
print(df[:3])

    A   B   C   D
V  51  92  14  71
W  60  20  82  86
X  74  74  87  99

Selecting specific columns

In [22]:
print(df[['A','C']])

    A   C
V  51  14
W  60  82
X  74  87
Y  23  21
Z   1  29

Selecting specific rows and columns

In [23]:
#select rows 'W' to 'Y' and columns 'B' and 'D'
print(df.loc['W':'Y',['B','D']])

    B   D
W  20  86
X  74  99
Y   2  52

In [25]:
#select first 3 rows and first 2 columns
print(df.iloc[:3,:2])

    A   B
V  51  92
W  60  20
X  74  74

Conditional slicing

In [27]:
#select rows where column 'A' values are greater then 50
print(df[df['A']>50])

    A   B   C   D
V  51  92  14  71
W  60  20  82  86
X  74  74  87  99

In [31]:
#select rows where column 'C' values are less than 30
print(df[df['C']<30])

    A   B   C   D
V  51  92  14  71
Y  23   2  21  52
Z   1  87  29  37

Dropping a row

df_dropped_row=df.drop(index='X')
print(df_dropped_row)

Dropping multiple values

In [33]:
df_dropped_rows=df.drop(index=['W','Y'])
print(df_dropped_rows)

    A   B   C   D
V  51  92  14  71
X  74  74  87  99
Z   1  87  29  37

Dropping a column

In [34]:
df_dropped_column=df.drop(columns='C')
print(df_dropped_column)

    A   B   D
V  51  92  71
W  60  20  86
X  74  74  99
Y  23   2  52
Z   1  87  37

Dropping multiple columns

In [35]:
df_dropped_column=df.drop(columns=['A','D'])
print(df_dropped_column)

    B   C
V  92  14
W  20  82
X  74  87
Y   2  21
Z  87  29

Dropping rows/columns inplace

In [36]:
df.drop(index='X',inplace=True)
df.drop(columns='C',inplace=True)
print(df)

    A   B   D
V  51  92  71
W  60  20  86
Y  23   2  52
Z   1  87  37

Adding a new column

In [44]:
df['F']=[5,10,15,20,25]
print(df)
df.loc['Extra']=[55,65,75,85,95]
print(df)

    A   B   C   D   F
V  51  92  14  71   5
W  60  20  82  86  10
X  74  74  87  99  15
Y  23   2  21  52  20
Z   1  87  29  37  25
        A   B   C   D   F
V      51  92  14  71   5
W      60  20  82  86  10
X      74  74  87  99  15
Y      23   2  21  52  20
Z       1  87  29  37  25
Extra  55  65  75  85  95